:root {
    --theme-text: #e3e3e3;
    --theme-text-subtle: #c7c7c7;
    --theme-text-invert: #2e2e2e;
    --theme-text-glow-high-contrast: #e3e3e3;
    --theme-box-shadow-light: rgba(255,255,255,0.108);
    --theme-box-shadow-medium: rgba(255,255,255,0.132);
    --theme-box-shadow-heavy: rgba(255,255,255,0.18);
    --theme-box-shadow-extra-heavy: rgba(255,255,255,0.22);
    --theme-overlay: rgba(0,0,0,0.7);
    --theme-overlay-invert: white;
    --theme-body-background: #171717;
    --theme-body-background-medium: #2e2e2e;
    --theme-body-background-dark: #242424;
    --theme-border: #454545;
    --theme-table-header: #454545;
    --theme-table-row-header: #2e2e2e;
    --theme-table-border-dark: #5e5e5e;
    --theme-hover-base: #c7c7c7;
    --theme-hover-invert: #2e2e2e;
    --theme-border-white-high-contrast: rgba(255,255,255,0);
    --theme-border-yellow-high-contrast: rgba(0,0,0,0);
    --theme-code-highlight-background: #0c5a0c;
    --theme-visited: #8980E4;
    --theme-score-low-off: rgba(218,59,1,0.7);
    --theme-score-low: #da3b01;
    --theme-score-medium-off: rgba(255,187,0,0.3);
    --theme-score-medium: #ffc933;
    --theme-score-high-off: rgba(18,135,18,0.7);
    --theme-score-high: #17b517;
    --theme-primary-base: #4db2ff;
    --theme-primary-background: #002b4d;
    --theme-primary-background-glow-high-contrast: #002b4d;
    --theme-primary-dark: #a3d7ff;
    --theme-primary-hover: #0091ff;
    --theme-primary-active: #0065b3;
    --theme-primary-box-shadow: rgba(0,101,179,0.3);
    --theme-primary-invert: black;
    --theme-secondary-base: #757575;
    --theme-secondary-background: #2e2e2e;
    --theme-secondary-background-glow-high-contrast: #2e2e2e;
    --theme-secondary-dark: #e3e3e3;
    --theme-secondary-hover: #919191;
    --theme-secondary-active: #ababab;
    --theme-secondary-box-shadow: rgba(0,0,0,0.7);
    --theme-secondary-invert: white;
    --theme-tertiary-base: #454545;
    --theme-tertiary-background: #171717;
    --theme-tertiary-background-glow-high-contrast: #171717;
    --theme-tertiary-dark: #e3e3e3;
    --theme-tertiary-hover: #5e5e5e;
    --theme-tertiary-active: #757575;
    --theme-tertiary-box-shadow: rgba(0,101,179,0.3);
    --theme-tertiary-invert: white;
    --theme-success-base: #128712;
    --theme-success-background: #094409;
    --theme-success-background-glow-high-contrast: #094409;
    --theme-success-dark: #d2f9d2;
    --theme-success-hover: #17b517;
    --theme-success-active: #4ae84a;
    --theme-success-box-shadow: rgba(18,135,18,0.7);
    --theme-success-invert: black;
    --theme-info-base: #8763c5;
    --theme-info-background: #38225d;
    --theme-info-background-glow-high-contrast: #38225d;
    --theme-info-dark: #e2daf1;
    --theme-info-hover: #9b7dcf;
    --theme-info-active: #a98fd6;
    --theme-info-box-shadow: rgba(38,23,63,0.7);
    --theme-info-invert: white;
    --theme-inline-code: #454545;
    --theme-warning-base: #ffbb00;
    --theme-warning-background: #664b00;
    --theme-warning-background-glow-high-contrast: #664b00;
    --theme-warning-dark: #fff1cc;
    --theme-warning-hover: #ffc933;
    --theme-warning-active: #ffd666;
    --theme-warning-box-shadow: rgba(255,187,0,0.7);
    --theme-warning-invert: black;
    --theme-danger-base: #da3b01;
    --theme-danger-background: #651b01;
    --theme-danger-background-glow-high-contrast: #651b01;
    --theme-danger-dark: #ffdacc;
    --theme-danger-hover: #fe571b;
    --theme-danger-active: #fe8f67;
    --theme-danger-box-shadow: rgba(218,59,1,0.7);
    --theme-danger-invert: white;
    --theme-facepile-red: #fe571b;
    --theme-facepile-teal: #00ccb4;
    --theme-facepile-blue: #0091ff;
}